<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Organiser - Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/framework7/3.5.2/css/framework7.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>html,body {position: fixed;overflow: hidden;}</style>
    
  </head>
  
  <body class="color-theme-blue theme-dark">
    <div class="views">
      
      <div class="view view-main">
        <div class="pages">
          <div data-page="loading" class="page">

            <div class="page-content">
              <div class="block" id="loadingBlock">
                Loading...
                
                <div class="preloader">
                  <span class="preloader-inner">
                    <span class="preloader-inner-gap"></span>
                    <span class="preloader-inner-left">
                        <span class="preloader-inner-half-circle"></span>
                    </span>
                    <span class="preloader-inner-right">
                        <span class="preloader-inner-half-circle"></span>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/framework7/3.5.2/js/framework7.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/dateformat/lib/dateformat.js"></script>
    <script src="/app.js"></script>
  </body>
</html>